DJANGO_SECRET_KEY=change-me
DEBUG_MODE=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mdcc_nuvem_t2
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

USE_S3=true
AWS_S3_REGION_NAME=us-east-1
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_STORAGE_BUCKET_NAME=nuvembucket
AWS_S3_ENDPOINT_URL=http://minio:9000
AWS_S3_CUSTOM_DOMAIN=localhost:9900/nuvembucket

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_QUEUE_NAME=image-processing-queue

DYNAMODB_REGION=us-east-1
DYNAMODB_TABLE_NAME=crud_logs_t2
AWS_ACCESS_KEY_DYNAMODB=
AWS_SECRET_ACCESS_KEY_DYNAMODB=

SERVICE_API_TOKEN=change-me
